/* selectores.css 
En la misma carpeta que HTML

*/
 
body {
	background-color: purple;
	font-family: arial;
	color: white;

}

/* Selector etiqueta */

h2 {
	
	font-family: cursive;
	color: white;

}

/* Selector Clase: mas especifico que el de etiqueta; requiere modificar el html. Podemos reutilizarlo
empienzan con "." 

!imporant : sobreescribre cualquier seteo anterior sea clase o id
*/

.amarillo {
	background-color: gold!important;
}

p {
	background-color: red;
}

/* Selector ID: le gana al selector de Etiqueta y de clase
No se puede repetir, conviene no usarlo.
*/

#voldemort {
	background-color: black;
}
